* { margin: 0 auto; width: 960px; background-color: #8b4513; }
		.text_where {
			color: white;
			font-weight: bold;
			text-align: center;
			font-size: 40px;
			margin-top: 25px;
		}
		.time_output {
			color: white;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			margin-top: 185px;
		}
		.get_year {
			text-align: center;
			font-size: 40px;
			font-weight: bold;
			color: white;
		}
		.year {
			font-size: 38px;
			color: white;
			width: 105px;
			text-align: center;
			margin-top: 25px;
			border: 2px solid white;
		}
		.submit {
			width: 250px;
			color: white;
			font-size: 38px;
			text-align: center;
			border: 2px solid white;
			background-color: #d2b48c;
		}